# dependencies
node_modules/
.pnp.*
.yarn/*

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev.db*

# test / coverage
coverage/
*.lcov

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# flutter (apps/mobile)
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/.pub/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/**/GeneratedPluginRegistrant.*
apps/mobile/*.iml

# vercel
.vercel
